.appBar {
  padding: 0 10px;
  position:relative;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position:absolute;
}

.logo-container {
  display: flex;
  align-items: center;
}

.heading {
  /* text-decoration: none; */
  /* color: inherit; */
  margin-right: 10px;
}

.image {
  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
  margin-right: 5rem; 
}

.profile {
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 10px;
}

.logout {
  margin-left: 20px;
}
